<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="connectionSQLite" connectionString="Data Source=&quot;C:\slnLanguageRecognitionSystem\LanguageRecognitionService\App_Data\ResultsMemotizationSQLiteDB.s3db&quot;;"/>
    <add name="connectionConfigXML" connectionString="C:\slnLanguageRecognitionSystem\LanguageRecognitionAPI\dictionaries_config_XML.xml"/>
  </connectionStrings>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
  
  <system.serviceModel>
    
    <services>
      <service name="LanguageRecognitionService.LanguageRecognitionService"
            behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" contract="LanguageRecognitionService.ILanguageRecognitionService" behaviorConfiguration="web"></endpoint>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
<!--    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />-->
  </system.serviceModel>
  
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

  
</configuration>
